### Load Dependencies

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import pickle

### Load Warnings

In [17]:
import warnings
warnings.filterwarnings(action = 'ignore')

In [18]:
preprocessed_data3_path = r'D:\CDAC\Project\model_building'
preprocessed_data3 = pd.read_csv(os.path.join(preprocessed_data3_path,'tableau_dataset.csv'))
preprocessed_data3

,CASE_STATUS,JOB_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,...,AMENDED_PETITION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,H1B_DEPENDENT,WILLFUL_VIOLATOR,OCCUPATION
0,CERTIFIED,DEVOPS ENGINEER II,Y,2023-03-18,2026-03-17,1,0,1,0,0,...,0,"Insurance Services Office, Inc.",Jersey City,NJ,Y,NJ,109283,N,N,IT
1,CERTIFIED,FE ENGINEER,Y,2023-06-19,2026-06-18,1,0,1,0,0,...,0,Apple Inc.,Cupertino,CA,Y,CA,144248,N,N,ELECTRONICS ENGINEERS
2,CERTIFIED,CONTROL SYS ENGINEER,Y,2023-01-16,2026-01-15,1,0,0,0,0,...,0,Caterpillar Inc,Irving,TX,N,IL,100443,N,N,MECHANICAL ENGINEERS
3,CERTIFIED,SENIOR LECTURER,Y,2023-03-15,2026-03-14,1,1,0,0,0,...,0,University of Texas at Arlington,Arlington,TX,N,TX,47380,N,N,EDUCATION
4,CERTIFIED,PRINCIPAL PAYMENT TECH DEVELOPMENT,Y,2023-01-03,2026-01-02,1,0,0,0,0,...,0,DFS Services LLC,Riverwoods,IL,Y,IL,114067,N,N,IT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2889881,CERTIFIED,PETROLEUM INSPECTOR,Y,2019-09-19,2022-09-18,1,0,1,0,0,...,0,AMSPEC LLC,CRANBURY,NJ,Y,LA,56992,N,N,others
2889882,CERTIFIED,INSPECTOR V,Y,2019-10-25,2022-10-24,1,0,1,0,0,...,0,"INTERTEK USA, INC",CORTLAND,NY,Y,LA,58011,N,N,others
2889883,DENIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,Y,2019-10-01,2021-09-30,6,6,0,0,0,...,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FL,65645,N,N,others
2889884,CERTIFIED,CONTAINER MOBILE HARBOR CRANE OPERATOR,Y,2019-11-01,2022-10-31,6,6,0,0,0,...,0,"PORT LOGISTICS TERMINAL OPERATIONS, LLC",TAMPA,FL,N,FL,65645,N,N,others
2889885,CERTIFIED,DIGITAL TOUCHPOINTS ANALYST,Y,2018-10-17,2021-10-17,1,0,0,0,0,...,0,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,MADISON,WI,Y,WI,75733,N,N,others

In [19]:
preprocessed_data3.head()

,CASE_STATUS,JOB_TITLE,FULL_TIME_POSITION,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,...,AMENDED_PETITION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,H1B_DEPENDENT,WILLFUL_VIOLATOR,OCCUPATION
0,CERTIFIED,DEVOPS ENGINEER II,Y,2023-03-18,2026-03-17,1,0,1,0,0,...,0,"Insurance Services Office, Inc.",Jersey City,NJ,Y,NJ,109283,N,N,IT
1,CERTIFIED,FE ENGINEER,Y,2023-06-19,2026-06-18,1,0,1,0,0,...,0,Apple Inc.,Cupertino,CA,Y,CA,144248,N,N,ELECTRONICS ENGINEERS
2,CERTIFIED,CONTROL SYS ENGINEER,Y,2023-01-16,2026-01-15,1,0,0,0,0,...,0,Caterpillar Inc,Irving,TX,N,IL,100443,N,N,MECHANICAL ENGINEERS
3,CERTIFIED,SENIOR LECTURER,Y,2023-03-15,2026-03-14,1,1,0,0,0,...,0,University of Texas at Arlington,Arlington,TX,N,TX,47380,N,N,EDUCATION
4,CERTIFIED,PRINCIPAL PAYMENT TECH DEVELOPMENT,Y,2023-01-03,2026-01-02,1,0,0,0,0,...,0,DFS Services LLC,Riverwoods,IL,Y,IL,114067,N,N,IT

In [20]:
preprocessed_data3["CASE_STATUS"].value_counts()

CASE_STATUS
CERTIFIED                2687406
CERTIFIED - WITHDRAWN     128513
WITHDRAWN                  57865
DENIED                     16102
Name: count, dtype: int64

In [21]:
preprocessed_data3["OCCUPATION"].value_counts()

OCCUPATION
IT                       1493305
ANALYSTS                  360826
MANAGER                   227967
others                    154527
MEDICAL                   102976
EDUCATION                  75462
DATA                       68790
FINANCE                    63739
MECHANICAL ENGINEERS       52923
AUDIT                      41205
ELECTRONICS ENGINEERS      39582
ELECTRICAL ENGINEERS       38061
SALES-MARKETING            34592
INDUSTRIAL ENGINEERS       30356
PHARMACY                   29456
CIVIL ENGINEERS            23189
MATERIAL ENGINEERS         11334
LAW                        10581
LOGISTICS                   6372
CHEMICAL ENGINEERS          5751
ENVIRONMENTAL               4251
HR                          4157
MECHATRONICS                3380
ADMINISTRATIVE              2975
PUBLIC RELATIONS            2722
AGRO                        1407
Name: count, dtype: int64

In [22]:
preprocessed_data3['EMPLOYMENT_START_DATE'] = pd.to_datetime(preprocessed_data3['EMPLOYMENT_START_DATE'], format = "%Y-%m-%d")
preprocessed_data3['EMPLOYMENT_END_DATE'] = pd.to_datetime(preprocessed_data3['EMPLOYMENT_END_DATE'], format = "%Y-%m-%d")

preprocessed_data3['EMPLOYMENT_DURATION_YEARS'] = ((preprocessed_data3['EMPLOYMENT_END_DATE'] - preprocessed_data3['EMPLOYMENT_START_DATE']).dt.days/365.25).astype('float16')

preprocessed_data3["EMPLOYMENT_DURATION_YEARS"].value_counts()

EMPLOYMENT_DURATION_YEARS
2.998047    1918256
2.996094     558671
3.000000     164024
2.992188      50533
2.990234      12279
             ...
3.189453          1
3.044922          1
3.082031          1
3.005859          1
3.093750          1
Name: count, Length: 1106, dtype: int64

### Dropping Columns

In [23]:
preprocessed_data3 = preprocessed_data3.drop(['JOB_TITLE','EMPLOYER_CITY','NEW_EMPLOYMENT','CONTINUED_EMPLOYMENT','CHANGE_PREVIOUS_EMPLOYMENT','NEW_CONCURRENT_EMPLOYMENT','EMPLOYMENT_START_DATE','CHANGE_EMPLOYER','AMENDED_PETITION','EMPLOYMENT_END_DATE', 'EMPLOYER_NAME', 'EMPLOYER_STATE'], axis = 1)
preprocessed_data3.head()

,CASE_STATUS,FULL_TIME_POSITION,TOTAL_WORKER_POSITIONS,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,H1B_DEPENDENT,WILLFUL_VIOLATOR,OCCUPATION,EMPLOYMENT_DURATION_YEARS
0,CERTIFIED,Y,1,Y,NJ,109283,N,N,IT,2.998047
1,CERTIFIED,Y,1,Y,CA,144248,N,N,ELECTRONICS ENGINEERS,2.998047
2,CERTIFIED,Y,1,N,IL,100443,N,N,MECHANICAL ENGINEERS,2.998047
3,CERTIFIED,Y,1,N,TX,47380,N,N,EDUCATION,2.998047
4,CERTIFIED,Y,1,Y,IL,114067,N,N,IT,2.998047

In [24]:
preprocessed_data3["FULL_TIME_POSITION"].value_counts()

FULL_TIME_POSITION
Y    2844603
N      45283
Name: count, dtype: int64

In [25]:
preprocessed_data3["AGENT_REPRESENTING_EMPLOYER"].value_counts()

AGENT_REPRESENTING_EMPLOYER
Y    2074263
N     815623
Name: count, dtype: int64

In [26]:
preprocessed_data3["H1B_DEPENDENT"].value_counts()

H1B_DEPENDENT
N    1981303
Y     908583
Name: count, dtype: int64

In [27]:
preprocessed_data3["WILLFUL_VIOLATOR"].value_counts()

WILLFUL_VIOLATOR
N    2888798
Y       1088
Name: count, dtype: int64

In [28]:
preprocessed_data3.isnull().sum()

CASE_STATUS                    0
FULL_TIME_POSITION             0
TOTAL_WORKER_POSITIONS         0
AGENT_REPRESENTING_EMPLOYER    0
WORKSITE_STATE                 0
PREVAILING_WAGE                0
H1B_DEPENDENT                  0
WILLFUL_VIOLATOR               0
OCCUPATION                     0
EMPLOYMENT_DURATION_YEARS      0
dtype: int64

In [29]:
from sklearn.preprocessing import LabelEncoder

In [30]:
full_time_position_encoder = LabelEncoder()
full_time_position_encoder.fit(preprocessed_data3['FULL_TIME_POSITION'])
preprocessed_data3['FULL_TIME_POSITION'] = full_time_position_encoder.transform(preprocessed_data3['FULL_TIME_POSITION'])

# save the full time encoder 
with open("full_time_position_encoder.pkl", "wb") as file:
    pickle.dump(full_time_position_encoder, file)

In [31]:
agent_representing_employer_encoder = LabelEncoder()
agent_representing_employer_encoder.fit(preprocessed_data3['AGENT_REPRESENTING_EMPLOYER'])
preprocessed_data3['AGENT_REPRESENTING_EMPLOYER'] = agent_representing_employer_encoder.transform(preprocessed_data3['AGENT_REPRESENTING_EMPLOYER'])

# save the agent representing employer encoder 
with open("agent_representing_employer_encoder.pkl", "wb") as file:
    pickle.dump(agent_representing_employer_encoder, file)

In [32]:
worksite_state_encoder = LabelEncoder()
worksite_state_encoder.fit(preprocessed_data3['WORKSITE_STATE'])
preprocessed_data3['WORKSITE_STATE'] = worksite_state_encoder.transform(preprocessed_data3['WORKSITE_STATE'])

# save the work site state encoder 
with open("worksite_state_encoder.pkl", "wb") as file:
    pickle.dump(worksite_state_encoder, file)

In [33]:
H1B_dependent_encoder = LabelEncoder()
H1B_dependent_encoder.fit(preprocessed_data3['H1B_DEPENDENT'])
preprocessed_data3['H1B_DEPENDENT'] = H1B_dependent_encoder.transform(preprocessed_data3['H1B_DEPENDENT'])

# save the H1B dependent encoder 
with open("H1B_dependent_encoder.pkl", "wb") as file:
    pickle.dump(H1B_dependent_encoder, file)

In [34]:
willfull_violator_encoder = LabelEncoder()
willfull_violator_encoder.fit(preprocessed_data3['WILLFUL_VIOLATOR'])
preprocessed_data3['WILLFUL_VIOLATOR'] = willfull_violator_encoder.transform(preprocessed_data3['WILLFUL_VIOLATOR'])

# save the willfull violator encoder 
with open("willfull_violator_encoder.pkl", "wb") as file:
    pickle.dump(willfull_violator_encoder, file)

In [35]:
occupation_encoder = LabelEncoder()
occupation_encoder.fit(preprocessed_data3['OCCUPATION'])
preprocessed_data3['OCCUPATION'] = occupation_encoder.transform(preprocessed_data3['OCCUPATION'])

# save the occupation encoder 
with open("occupation_encoder.pkl", "wb") as file:
    pickle.dump(occupation_encoder, file)

In [36]:
preprocessed_data3

,CASE_STATUS,FULL_TIME_POSITION,TOTAL_WORKER_POSITIONS,AGENT_REPRESENTING_EMPLOYER,WORKSITE_STATE,PREVAILING_WAGE,H1B_DEPENDENT,WILLFUL_VIOLATOR,OCCUPATION,EMPLOYMENT_DURATION_YEARS
0,CERTIFIED,1,1,1,34,109283,0,0,14,2.998047
1,CERTIFIED,1,1,1,4,144248,0,0,9,2.998047
2,CERTIFIED,1,1,0,15,100443,0,0,19,2.998047
3,CERTIFIED,1,1,0,48,47380,0,0,7,2.998047
4,CERTIFIED,1,1,1,15,114067,0,0,14,2.998047
...,...,...,...,...,...,...,...,...,...,...
2889881,CERTIFIED,1,1,1,19,56992,0,0,25,2.998047
2889882,CERTIFIED,1,1,1,19,58011,0,0,25,2.998047
2889883,DENIED,1,6,0,9,65645,0,0,25,1.999023
2889884,CERTIFIED,1,6,0,9,65645,0,0,25,2.998047
2889885,CERTIFIED,1,1,1,54,75733,0,0,25,3.000000

In [37]:
from sklearn.preprocessing import StandardScaler

In [38]:
scaler = StandardScaler()
scaler.fit(pd.DataFrame(preprocessed_data3["PREVAILING_WAGE"]))
wage_scaled = scaler.transform(pd.DataFrame(preprocessed_data3["PREVAILING_WAGE"]))
wage_scaled

array([[ 0.01978582],
       [ 0.08170478],
       [ 0.00413121],
       ...,
       [-0.05749201],
       [-0.05749201],
       [-0.03962734]])

In [39]:
preprocessed_data3 = preprocessed_data3.drop(['PREVAILING_WAGE'], axis = 1)
preprocessed_data3 = pd.concat([preprocessed_data3,wage_scaled_df], axis = 1)
preprocessed_data3

# save the wage scaled file 
with open("wage_scaled.pkl", "wb") as file:
    pickle.dump(scaler, file)

NameError: name 'wage_scaled_df' is not defined

In [ ]:
preprocessed_data3

In [ ]:
preprocessed_data3['CASE_STATUS'].value_counts()

In [ ]:
case_status_encoder = LabelEncoder()
case_status_encoder.fit(preprocessed_data3['CASE_STATUS'])
preprocessed_data3['CASE_STATUS'] = case_status_encoder.transform(preprocessed_data3['CASE_STATUS'])

# save the wage scaled file 
with open("case_status.pkl", "wb") as file:
    pickle.dump(case_status_encoder, file)

In [ ]:
preprocessed_data3['CASE_STATUS'].value_counts()

In [ ]:
df_certified = preprocessed_data3[preprocessed_data3["CASE_STATUS"] == 0]
df_certified

In [ ]:
df_certified = df_certified.sample(frac = 1, random_state = 42)
df_certified = df_certified.reset_index(drop = True)  # Drop = True discards the old index
df_certified

In [ ]:
from sklearn.utils import resample

df_down_sampled_certified = resample(df_certified, n_samples=210000, random_state=42)
df_down_sampled_certified

In [ ]:
df_remaining = preprocessed_data3[preprocessed_data3["CASE_STATUS"] != 0]
df_remaining

In [ ]:
balanced_dataset = pd.concat([df_remaining, df_down_sampled_certified])
balanced_dataset

In [ ]:
balanced_dataset = balanced_dataset.sample(frac = 1, random_state = 42)
balanced_dataset = balanced_dataset.reset_index(drop = True)  # Drop = True discards the old index
balanced_dataset

In [ ]:
balanced_dataset["CASE_STATUS"].value_counts()

In [ ]:
balanced_dataset.info()

In [ ]:
x = balanced_dataset.drop('CASE_STATUS', axis = 1)
y = balanced_dataset['CASE_STATUS']
x

In [ ]:
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier
from xgboost import XGBClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

In [ ]:
# Splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, random_state=42)

In [ ]:
# Initialize the CatBoost model
catboost_model = CatBoostClassifier()
catboost_model.fit(x_train, y_train)

# Evaluate the model on the training set
y_pred_train_catboost = catboost_model.predict(x_train)
catboost_training_accuracy = accuracy_score(y_train, y_pred_train_catboost)

# Evaluate the model on the test set
y_pred_test_catboost = catboost_model.predict(x_test)
catboost_accuracy = accuracy_score(y_test, y_pred_test_catboost)
catboost_precision = precision_score(y_test, y_pred_test_catboost, average='weighted')
catboost_recall = recall_score(y_test, y_pred_test_catboost, average='weighted')
catboost_f1 = f1_score(y_test, y_pred_test_catboost, average='weighted')
catboost_cm = confusion_matrix(y_test, y_pred_test_catboost)

# Store the performance metrics for CatBoost
catboost_performance_chart = [
    ("CatBoost", catboost_training_accuracy, catboost_accuracy, catboost_precision, catboost_recall, catboost_f1, catboost_cm)
]

In [ ]:
# Initialize the XGBoost model
xgboost_model = XGBClassifier()
xgboost_model.fit(x_train, y_train)

# Evaluate the model on the training set
y_pred_train_xgboost = xgboost_model.predict(x_train)
xgboost_training_accuracy = accuracy_score(y_train, y_pred_train_xgboost)

# Evaluate the model on the test set
y_pred_test_xgboost = xgboost_model.predict(x_test)
xgboost_accuracy = accuracy_score(y_test, y_pred_test_xgboost)
xgboost_precision = precision_score(y_test, y_pred_test_xgboost, average='weighted')
xgboost_recall = recall_score(y_test, y_pred_test_xgboost, average='weighted')
xgboost_f1 = f1_score(y_test, y_pred_test_xgboost, average='weighted')
xgboost_cm = confusion_matrix(y_test, y_pred_test_xgboost)

# Store the performance metrics for XGBoost
xgboost_performance_chart = [
    ("XGBoost", xgboost_training_accuracy, xgboost_accuracy, xgboost_precision, xgboost_recall, xgboost_f1, xgboost_cm)
]

In [ ]:
performance1_df = pd.DataFrame(catboost_performance_chart, columns=['Model Name', 'Training Accuracy', 'Accuracy', 'Precision', 'Recall', 'F1', 'Confusion Matrix'])
performance1_df

In [ ]:
performance2_df = pd.DataFrame(xgboost_performance_chart, columns=['Model Name', 'Training Accuracy', 'Accuracy', 'Precision', 'Recall', 'F1', 'Confusion Matrix'])
performance2_df

In [ ]:
import pickle

with open("H1B Visa Model.pkl", "wb") as file:
    pickle.dump(catboost_model, file)